Repository apache/rocketmq, pull requests merged in 2019-05, with the labels that each got.

#1030 RIP-9[modify punctuation]
  docs/en/Deployment.md
Labels: doc

#1088 [RIP-9] Update Feature.md in docs/en
  docs/en/Feature.md
Labels: doc

#863 [RIP-10] Add test case for SubscriptionData
  common/src/test/java/org/apache/rocketmq/common/protocol/heartbeat/SubscriptionDataTest.java
Labels: rip

#945 [RIP-10] Add test cases for QueryMsgByUniqueKeySubCommand
  tools/src/main/java/org/apache/rocketmq/tools/command/message/QueryMsgByUniqueKeySubCommand.java
  tools/src/test/java/org/apache/rocketmq/tools/command/message/QueryMsgByUniqueKeySubCommandTest.java
Labels: enhancement

#983 [RIP-10] modify test case of BrokerConsumeStatsSubCommand
  tools/src/main/java/org/apache/rocketmq/tools/command/broker/BrokerConsumeStatsSubCommad.java
  tools/src/test/java/org/apache/rocketmq/tools/command/broker/BrokerConsumeStatsSubCommadTest.java
Labels: enhancement
