Repository apache/rocketmq, pull requests merged in 2022-01, with the labels that each got.

#3224 [ISSUE #3223]Optimize startup script to support greater jdk version
  broker/pom.xml
  distribution/benchmark/runclass.sh
  distribution/bin/runbroker.cmd
  distribution/bin/runbroker.sh
  distribution/bin/runserver.cmd
  distribution/bin/runserver.sh
  distribution/bin/tools.cmd
  distribution/bin/tools.sh
  namesrv/pom.xml
  pom.xml
Labels: enhancement

#3694 [RIP-28] light message queue(LMQ)
  broker/src/main/java/org/apache/rocketmq/broker/BrokerController.java
  broker/src/main/java/org/apache/rocketmq/broker/BrokerPathConfigHelper.java
  broker/src/main/java/org/apache/rocketmq/broker/longpolling/LmqPullRequestHoldService.java
  broker/src/main/java/org/apache/rocketmq/broker/longpolling/ManyPullRequest.java
  broker/src/main/java/org/apache/rocketmq/broker/longpolling/PullRequestHoldService.java
  broker/src/main/java/org/apache/rocketmq/broker/offset/ConsumerOffsetManager.java
  broker/src/main/java/org/apache/rocketmq/broker/offset/LmqConsumerOffsetManager.java
  broker/src/main/java/org/apache/rocketmq/broker/plugin/AbstractPluginMessageStore.java
  broker/src/main/java/org/apache/rocketmq/broker/processor/AdminBrokerProcessor.java
  broker/src/main/java/org/apache/rocketmq/broker/processor/SendMessageProcessor.java
  broker/src/main/java/org/apache/rocketmq/broker/subscription/LmqSubscriptionGroupManager.java
  broker/src/main/java/org/apache/rocketmq/broker/topic/LmqTopicConfigManager.java
  broker/src/test/java/org/apache/rocketmq/broker/BrokerPathConfigHelperTest.java
  broker/src/test/java/org/apache/rocketmq/broker/offset/LmqConsumerOffsetManagerTest.java
  common/src/main/java/org/apache/rocketmq/common/MixAll.java
  common/src/main/java/org/apache/rocketmq/common/message/MessageConst.java
  common/src/test/java/org/apache/rocketmq/common/MixAllTest.java
  docs/cn/Example_LMQ.md
  docs/cn/image/LMQ_1.png
  store/src/main/java/org/apache/rocketmq/store/CommitLog.java
  store/src/main/java/org/apache/rocketmq/store/ConsumeQueue.java
  store/src/main/java/org/apache/rocketmq/store/DefaultMessageStore.java
  store/src/main/java/org/apache/rocketmq/store/MessageStore.java
  store/src/main/java/org/apache/rocketmq/store/MultiDispatch.java
  store/src/main/java/org/apache/rocketmq/store/PutMessageStatus.java
  store/src/main/java/org/apache/rocketmq/store/config/MessageStoreConfig.java
  store/src/main/java/org/apache/rocketmq/store/stats/LmqBrokerStatsManager.java
  store/src/test/java/org/apache/rocketmq/store/ConsumeQueueTest.java
  store/src/test/java/org/apache/rocketmq/store/DefaultMessageStoreTest.java
  store/src/test/java/org/apache/rocketmq/store/MultiDispatchTest.java
  test/pom.xml
  test/src/main/java/org/apache/rocketmq/test/lmq/benchmark/BenchLmqStore.java
  test/src/main/java/org/apache/rocketmq/test/util/StatUtil.java
  test/src/test/java/org/apache/rocketmq/test/lmq/TestBenchLmqStore.java
Labels: broker, store, rip

#3555 [Issue #3556] Fix:When broker is down, rocketmq client can not retry under Async send model
  client/src/main/java/org/apache/rocketmq/client/impl/MQClientAPIImpl.java
  client/src/test/java/org/apache/rocketmq/client/impl/MQClientAPIImplTest.java
Labels: bug, enhancement, client

#3016 [ISSUE #3015] when slaveAckOffset greater than local commitLog offset, break …
  store/src/main/java/org/apache/rocketmq/store/ha/HAConnection.java
Labels: bug, store

#3522 [ISSUE #3521] Fix the risk of memory overflow caused by excessive popShareQueueNum
  broker/src/main/java/org/apache/rocketmq/broker/processor/QueryAssignmentProcessor.java
  broker/src/test/java/org/apache/rocketmq/broker/processor/QueryAssignmentProcessorTest.java
Labels: enhancement

#3458 [ISSUE #3449] Delayed message supports asynchronous delivery
  store/src/main/java/org/apache/rocketmq/store/config/MessageStoreConfig.java
  store/src/main/java/org/apache/rocketmq/store/ha/HAConnection.java
  store/src/main/java/org/apache/rocketmq/store/schedule/ScheduleMessageService.java
  store/src/test/java/org/apache/rocketmq/store/ScheduleMessageServiceTest.java
Labels: enhancement, broker, store, new feature

#3695 Remove useless code
  common/src/main/java/org/apache/rocketmq/common/sysflag/TopicSysFlag.java
Labels: enhancement, code style

#3725 [ISSUE #3724]: Polish the unit test of class ConsumeMessageConcurrentlyService
  client/src/test/java/org/apache/rocketmq/client/impl/consumer/ConsumeMessageConcurrentlyServiceTest.java
Labels: enhancement, client, test

#3795 [ISSUE #3789] optimize: Tag the name of consuming thread whith consumeGroup.
  client/src/main/java/org/apache/rocketmq/client/impl/consumer/ConsumeMessageConcurrentlyService.java
  client/src/main/java/org/apache/rocketmq/client/impl/consumer/ConsumeMessageOrderlyService.java
  client/src/test/java/org/apache/rocketmq/client/impl/consumer/ConsumeMessageConcurrentlyServiceTest.java
  client/src/test/java/org/apache/rocketmq/client/impl/consumer/ConsumeMessageOrderlyServiceTest.java
Labels: type/enhancement, module/client
