Repository apache/rocketmq, pull requests merged in 2022-02, with the labels that each got.

#3788 [ISSUE #3786] fix: The length of properties value should be checked before converting them to short.
  common/src/main/java/org/apache/rocketmq/common/message/MessageDecoder.java
  store/src/main/java/org/apache/rocketmq/store/CommitLog.java
Labels: type/enhancement, module/store

#3813 fix ISSUE 2812
  client/src/main/java/org/apache/rocketmq/client/impl/producer/DefaultMQProducerImpl.java
Labels: module/client, type/code style

#3811 [ISSUE #3674] add tests for AllocateMessageQueueAveragely
  client/src/test/java/org/apache/rocketmq/client/consumer/rebalance/AllocateMessageQueueAveragelyTest.java
Labels: module/test

#3826 [ISSUE 3825] Use default SO_SNDBUF/SO_RCVBUF/WRITE_BUFFER_WATER_MARK value
  broker/src/main/java/org/apache/rocketmq/broker/BrokerStartup.java
  remoting/src/main/java/org/apache/rocketmq/remoting/common/RemotingUtil.java
  remoting/src/main/java/org/apache/rocketmq/remoting/netty/NettyRemotingClient.java
  remoting/src/main/java/org/apache/rocketmq/remoting/netty/NettyRemotingServer.java
  remoting/src/main/java/org/apache/rocketmq/remoting/netty/NettySystemConfig.java
  store/src/main/java/org/apache/rocketmq/store/ha/HAConnection.java
Labels: type/enhancement, module/broker, module/remoting

#3839 [ISSUE #3674]Add unit test for AllocateMessageQueueAveragelyByCircle
  client/src/test/java/org/apache/rocketmq/client/consumer/rebalance/AllocateMessageQueueAveragelyByCircleTest.java
Labels: module/test

#3851 [ISSUE ##3852]Move the Logappender module to external
  logappender/pom.xml
  logappender/src/main/java/org/apache/rocketmq/logappender/common/ProducerInstance.java
  logappender/src/main/java/org/apache/rocketmq/logappender/log4j/RocketmqLog4jAppender.java
  logappender/src/main/java/org/apache/rocketmq/logappender/log4j2/RocketmqLog4j2Appender.java
  logappender/src/main/java/org/apache/rocketmq/logappender/logback/RocketmqLogbackAppender.java
  logappender/src/test/java/org/apache/rocketmq/logappender/AbstractTestCase.java
  logappender/src/test/java/org/apache/rocketmq/logappender/Log4jPropertiesTest.java
  logappender/src/test/java/org/apache/rocketmq/logappender/Log4jTest.java
  logappender/src/test/java/org/apache/rocketmq/logappender/Log4jXmlTest.java
  logappender/src/test/java/org/apache/rocketmq/logappender/LogbackTest.java
  logappender/src/test/java/org/apache/rocketmq/logappender/log4j2Test.java
  logappender/src/test/resources/log4j-example.properties
  logappender/src/test/resources/log4j-example.xml
  logappender/src/test/resources/log4j2-example.xml
  logappender/src/test/resources/logback-example.xml
  pom.xml
Labels: type/code style

#3761 [ISSUE #2986] Support for multiple ACL files in a fixed directory
  acl/src/main/java/org/apache/rocketmq/acl/AccessValidator.java
  acl/src/main/java/org/apache/rocketmq/acl/plain/PlainAccessValidator.java
  acl/src/main/java/org/apache/rocketmq/acl/plain/PlainPermissionManager.java
  acl/src/test/java/org/apache/rocketmq/acl/common/AclUtilsTest.java
  acl/src/test/java/org/apache/rocketmq/acl/plain/PlainAccessValidatorTest.java
  acl/src/test/java/org/apache/rocketmq/acl/plain/PlainPermissionManagerTest.java
  acl/src/test/resources/conf/acl/plain_acl.yml
  acl/src/test/resources/conf/plain_acl_null.yml
  broker/src/main/java/org/apache/rocketmq/broker/processor/AdminBrokerProcessor.java
  client/src/main/java/org/apache/rocketmq/client/impl/MQClientAPIImpl.java
  common/src/main/java/org/apache/rocketmq/common/protocol/body/ClusterAclVersionInfo.java
  common/src/main/java/org/apache/rocketmq/common/protocol/header/GetBrokerAclConfigResponseHeader.java
  distribution/conf/acl/plain_acl.yml
  docs/cn/acl/RocketMQ_Multiple_ACL_Files_设计.md
  srvutil/src/main/java/org/apache/rocketmq/srvutil/AclFileWatchService.java
  tools/src/main/java/org/apache/rocketmq/tools/command/acl/ClusterAclConfigVersionListSubCommand.java
Labels: type/enhancement, module/acl
