Repository apache/rocketmq, pull requests merged in 2022-04, with the labels that each got.

#4057 [ISSUE #4048] Make storePathCommitLog base on storePathRootDir
  store/src/main/java/org/apache/rocketmq/store/config/MessageStoreConfig.java
Labels: module/store

#3588 [ISSUE 3585] [Part B] Improve encode/decode performance
  broker/src/main/java/org/apache/rocketmq/broker/processor/AbstractSendMessageProcessor.java
  broker/src/main/java/org/apache/rocketmq/broker/processor/SendMessageProcessor.java
  broker/src/test/java/org/apache/rocketmq/broker/processor/SendMessageProcessorTest.java
  common/src/main/java/org/apache/rocketmq/common/protocol/header/PullMessageRequestHeader.java
  common/src/main/java/org/apache/rocketmq/common/protocol/header/PullMessageResponseHeader.java
  common/src/main/java/org/apache/rocketmq/common/protocol/header/SendMessageRequestHeaderV2.java
  common/src/main/java/org/apache/rocketmq/common/protocol/header/SendMessageResponseHeader.java
  common/src/test/java/org/apache/rocketmq/common/protocol/header/FastCodesHeaderTest.java
  example/src/main/java/org/apache/rocketmq/example/benchmark/BatchProducer.java
  example/src/main/java/org/apache/rocketmq/example/benchmark/Consumer.java
  example/src/main/java/org/apache/rocketmq/example/benchmark/Producer.java
  example/src/main/java/org/apache/rocketmq/example/benchmark/TransactionProducer.java
  remoting/src/main/java/org/apache/rocketmq/remoting/netty/NettyDecoder.java
  remoting/src/main/java/org/apache/rocketmq/remoting/netty/NettyEncoder.java
  remoting/src/main/java/org/apache/rocketmq/remoting/netty/NettyRemotingAbstract.java
  remoting/src/main/java/org/apache/rocketmq/remoting/protocol/FastCodesHeader.java
  remoting/src/main/java/org/apache/rocketmq/remoting/protocol/RemotingCommand.java
  remoting/src/main/java/org/apache/rocketmq/remoting/protocol/RocketMQSerializable.java
  remoting/src/test/java/org/apache/rocketmq/remoting/protocol/RemotingCommandTest.java
  remoting/src/test/java/org/apache/rocketmq/remoting/protocol/RocketMQSerializableTest.java
Labels: type/enhancement, module/remoting

#4212 [ISSUE #4211] Fix diskMaxUsedSpaceRatio does not take effect in dLedger
  store/src/main/java/org/apache/rocketmq/store/dledger/DLedgerCommitLog.java
Labels: type/bug, module/store

#4219 [ISSUE #4215] OFFSET_OVERFLOW_BADLY will lead to consumption from begin, a large number of repeated consumption
  store/src/main/java/org/apache/rocketmq/store/DefaultMessageStore.java
Labels: module/store

#4195 [Summer of Code] Dledger controller
  common/src/main/java/org/apache/rocketmq/common/constant/LoggerName.java
  common/src/main/java/org/apache/rocketmq/common/namesrv/ControllerConfig.java
  common/src/main/java/org/apache/rocketmq/common/protocol/RequestCode.java
  common/src/main/java/org/apache/rocketmq/common/protocol/ResponseCode.java
  common/src/main/java/org/apache/rocketmq/common/protocol/header/namesrv/controller/AlterSyncStateSetRequestHeader.java
  common/src/main/java/org/apache/rocketmq/common/protocol/header/namesrv/controller/AlterSyncStateSetResponseHeader.java
  common/src/main/java/org/apache/rocketmq/common/protocol/header/namesrv/controller/ElectMasterRequestHeader.java
  common/src/main/java/org/apache/rocketmq/common/protocol/header/namesrv/controller/ElectMasterResponseHeader.java
  common/src/main/java/org/apache/rocketmq/common/protocol/header/namesrv/controller/GetMetaDataResponseHeader.java
  common/src/main/java/org/apache/rocketmq/common/protocol/header/namesrv/controller/GetReplicaInfoRequestHeader.java
  common/src/main/java/org/apache/rocketmq/common/protocol/header/namesrv/controller/GetReplicaInfoResponseHeader.java
  common/src/main/java/org/apache/rocketmq/common/protocol/header/namesrv/controller/RegisterBrokerRequestHeader.java
  common/src/main/java/org/apache/rocketmq/common/protocol/header/namesrv/controller/RegisterBrokerResponseHeader.java
  common/src/main/java/org/apache/rocketmq/common/utils/FastJsonSerializer.java
  common/src/main/java/org/apache/rocketmq/common/utils/Serializer.java
  namesrv/pom.xml
  namesrv/src/main/java/org/apache/rocketmq/namesrv/NamesrvController.java
  namesrv/src/main/java/org/apache/rocketmq/namesrv/NamesrvStartup.java
  namesrv/src/main/java/org/apache/rocketmq/namesrv/controller/Controller.java
  namesrv/src/main/java/org/apache/rocketmq/namesrv/controller/impl/DledgerController.java
  namesrv/src/main/java/org/apache/rocketmq/namesrv/controller/impl/DledgerControllerStateMachine.java
  namesrv/src/main/java/org/apache/rocketmq/namesrv/controller/manager/BrokerIdInfo.java
  namesrv/src/main/java/org/apache/rocketmq/namesrv/controller/manager/InSyncReplicasInfo.java
  namesrv/src/main/java/org/apache/rocketmq/namesrv/controller/manager/ReplicasInfoManager.java
  namesrv/src/main/java/org/apache/rocketmq/namesrv/controller/manager/event/AlterSyncStateSetEvent.java
  namesrv/src/main/java/org/apache/rocketmq/namesrv/controller/manager/event/ApplyBrokerIdEvent.java
  namesrv/src/main/java/org/apache/rocketmq/namesrv/controller/manager/event/ControllerResult.java
  namesrv/src/main/java/org/apache/rocketmq/namesrv/controller/manager/event/ElectMasterEvent.java
  namesrv/src/main/java/org/apache/rocketmq/namesrv/controller/manager/event/EventMessage.java
  namesrv/src/main/java/org/apache/rocketmq/namesrv/controller/manager/event/EventSerializer.java
  namesrv/src/main/java/org/apache/rocketmq/namesrv/controller/manager/event/EventType.java
  namesrv/src/main/java/org/apache/rocketmq/namesrv/processor/ControllerRequestProcessor.java
  namesrv/src/main/java/org/apache/rocketmq/namesrv/routeinfo/RouteInfoManager.java
  namesrv/src/test/java/org/apache/rocketmq/namesrv/controller/impl/DledgerControllerTest.java
  namesrv/src/test/java/org/apache/rocketmq/namesrv/controller/manager/ReplicasInfoManagerTest.java
Labels: soc
