Repository apache/rocketmq, pull requests merged in 2022-03, with the labels that each got.

#3927 [Issue #3922] Fix bugs in ACL modification
  acl/src/main/java/org/apache/rocketmq/acl/plain/PlainPermissionManager.java
  acl/src/test/java/org/apache/rocketmq/acl/plain/PlainAccessControlFlowTest.java
  acl/src/test/resources/both_acl_file_folder_conf/conf/acl/plain_acl.yml
  acl/src/test/resources/both_acl_file_folder_conf/conf/plain_acl.yml
  acl/src/test/resources/empty_acl_folder_conf/conf/plain_acl.yml
  acl/src/test/resources/only_acl_folder_conf/conf/acl/plain_acl.yml
  distribution/conf/plain_acl.yml
Labels: module/acl

#3925 [ISSUE #3924] It may be better to change the method StoreStatsService#initPutMessageDistributeTime() to private.
  store/src/main/java/org/apache/rocketmq/store/StoreStatsService.java
  store/src/test/java/org/apache/rocketmq/store/StoreStatsServiceTest.java
Labels: module/store

#3700 [ISSUE #3699] fix unit test
  store/src/test/java/org/apache/rocketmq/store/DefaultMessageStoreCleanFilesTest.java
  store/src/test/java/org/apache/rocketmq/store/dledger/DLedgerCommitlogTest.java
Labels: module/store, module/test
