Repository apache/rocketmq, pull requests merged in 2022-05, with the labels that each got.

#4217 [ISSUE #4216] fix HmacSHA1 not available when use benchmark
  distribution/benchmark/runclass.sh
Labels: module/test

#4236 [Summer of Code] Support switch role for ha service
  common/src/main/java/org/apache/rocketmq/common/EpochEntry.java
  common/src/main/java/org/apache/rocketmq/common/utils/CheckpointFile.java
  namesrv/src/main/java/org/apache/rocketmq/namesrv/routeinfo/RouteInfoManager.java
  store/src/main/java/org/apache/rocketmq/store/DefaultMessageStore.java
  store/src/main/java/org/apache/rocketmq/store/config/MessageStoreConfig.java
  store/src/main/java/org/apache/rocketmq/store/ha/DefaultHAService.java
  store/src/main/java/org/apache/rocketmq/store/ha/HAService.java
  store/src/main/java/org/apache/rocketmq/store/ha/autoswitch/AutoSwitchHAClient.java
  store/src/main/java/org/apache/rocketmq/store/ha/autoswitch/AutoSwitchHAConnection.java
  store/src/main/java/org/apache/rocketmq/store/ha/autoswitch/AutoSwitchHAService.java
  store/src/main/java/org/apache/rocketmq/store/ha/autoswitch/EpochFileCache.java
  store/src/main/java/org/apache/rocketmq/store/ha/io/AbstractHAReader.java
  store/src/main/java/org/apache/rocketmq/store/ha/io/HAReadHook.java
  store/src/main/java/org/apache/rocketmq/store/ha/io/HAWriteHook.java
  store/src/main/java/org/apache/rocketmq/store/ha/io/HAWriter.java
  store/src/test/java/org/apache/rocketmq/store/ha/EpochFileCacheTest.java
  store/src/test/java/org/apache/rocketmq/store/ha/autoswitch/AutoSwitchHATest.java
Labels: soc, module/ha

#4213 [ISSUE #4203] Support zstd/lz4 compression to improve send/receive performance
  client/src/main/java/org/apache/rocketmq/client/impl/ClientRemotingProcessor.java
  client/src/main/java/org/apache/rocketmq/client/impl/producer/DefaultMQProducerImpl.java
  client/src/main/java/org/apache/rocketmq/client/trace/AsyncTraceDispatcher.java
  client/src/main/java/org/apache/rocketmq/client/trace/hook/EndTransactionTraceHookImpl.java
  client/src/test/java/org/apache/rocketmq/client/producer/DefaultMQProducerTest.java
  client/src/test/java/org/apache/rocketmq/client/trace/DefaultMQConsumerWithTraceTest.java
  client/src/test/java/org/apache/rocketmq/client/trace/DefaultMQLitePullConsumerWithTraceTest.java
  client/src/test/java/org/apache/rocketmq/client/trace/DefaultMQProducerWithOpenTracingTest.java
  client/src/test/java/org/apache/rocketmq/client/trace/DefaultMQProducerWithTraceTest.java
  client/src/test/java/org/apache/rocketmq/client/trace/TransactionMQProducerWithOpenTracingTest.java
  client/src/test/java/org/apache/rocketmq/client/trace/TransactionMQProducerWithTraceTest.java
  common/pom.xml
  common/src/main/java/org/apache/rocketmq/common/MixAll.java
  common/src/main/java/org/apache/rocketmq/common/UtilAll.java
  common/src/main/java/org/apache/rocketmq/common/compression/CompressionType.java
  common/src/main/java/org/apache/rocketmq/common/compression/Compressor.java
  common/src/main/java/org/apache/rocketmq/common/compression/CompressorFactory.java
  common/src/main/java/org/apache/rocketmq/common/compression/Lz4Compressor.java
  common/src/main/java/org/apache/rocketmq/common/compression/ZlibCompressor.java
  common/src/main/java/org/apache/rocketmq/common/compression/ZstdCompressor.java
  common/src/main/java/org/apache/rocketmq/common/message/MessageDecoder.java
  common/src/main/java/org/apache/rocketmq/common/sysflag/MessageSysFlag.java
  common/src/test/java/org/apache/rocketmq/common/compression/CompressionTest.java
  common/src/test/java/org/apache/rocketmq/common/sysflag/CompressionFlagTest.java
  pom.xml
Labels: type/enhancement, module/client

#4272 [Summer of Code] Support switch role for broker
  broker/src/main/java/org/apache/rocketmq/broker/BrokerController.java
  broker/src/main/java/org/apache/rocketmq/broker/hacontroller/ReplicasManager.java
  broker/src/main/java/org/apache/rocketmq/broker/out/BrokerOuterAPI.java
  common/src/main/java/org/apache/rocketmq/common/BrokerConfig.java
  common/src/main/java/org/apache/rocketmq/common/protocol/body/SyncStateSet.java
  common/src/main/java/org/apache/rocketmq/common/protocol/header/namesrv/controller/AlterSyncStateSetRequestHeader.java
  common/src/main/java/org/apache/rocketmq/common/protocol/header/namesrv/controller/AlterSyncStateSetResponseHeader.java
  common/src/main/java/org/apache/rocketmq/common/protocol/header/namesrv/controller/BrokerRegisterRequestHeader.java
  common/src/main/java/org/apache/rocketmq/common/protocol/header/namesrv/controller/BrokerRegisterResponseHeader.java
  common/src/main/java/org/apache/rocketmq/common/protocol/header/namesrv/controller/ElectMasterRequestHeader.java
  common/src/main/java/org/apache/rocketmq/common/protocol/header/namesrv/controller/GetMetaDataResponseHeader.java
  common/src/main/java/org/apache/rocketmq/common/protocol/header/namesrv/controller/GetReplicaInfoRequestHeader.java
  common/src/main/java/org/apache/rocketmq/common/protocol/header/namesrv/controller/GetReplicaInfoResponseHeader.java
  container/src/main/java/org/apache/rocketmq/container/InnerBrokerController.java
  namesrv/src/main/java/org/apache/rocketmq/namesrv/controller/Controller.java
  namesrv/src/main/java/org/apache/rocketmq/namesrv/controller/impl/DledgerController.java
  namesrv/src/main/java/org/apache/rocketmq/namesrv/controller/impl/DledgerControllerStateMachine.java
  namesrv/src/main/java/org/apache/rocketmq/namesrv/controller/manager/BrokerInfo.java
  namesrv/src/main/java/org/apache/rocketmq/namesrv/controller/manager/ReplicasInfoManager.java
  namesrv/src/main/java/org/apache/rocketmq/namesrv/controller/manager/event/ControllerResult.java
  namesrv/src/main/java/org/apache/rocketmq/namesrv/controller/manager/event/ElectMasterEvent.java
  namesrv/src/main/java/org/apache/rocketmq/namesrv/controller/manager/event/EventSerializer.java
  namesrv/src/main/java/org/apache/rocketmq/namesrv/processor/ControllerRequestProcessor.java
  namesrv/src/test/java/org/apache/rocketmq/namesrv/controller/impl/DledgerControllerTest.java
  namesrv/src/test/java/org/apache/rocketmq/namesrv/controller/manager/ReplicasInfoManagerTest.java
  remoting/src/main/java/org/apache/rocketmq/remoting/netty/NettyRemotingClient.java
  store/src/main/java/org/apache/rocketmq/store/ha/DefaultHAService.java
  store/src/main/java/org/apache/rocketmq/store/ha/HAService.java
  store/src/main/java/org/apache/rocketmq/store/ha/autoswitch/AutoSwitchHAClient.java
  store/src/main/java/org/apache/rocketmq/store/ha/autoswitch/AutoSwitchHAConnection.java
  store/src/main/java/org/apache/rocketmq/store/ha/autoswitch/AutoSwitchHAService.java
  store/src/test/java/org/apache/rocketmq/store/ha/autoswitch/AutoSwitchHATest.java
  test/src/test/java/org/apache/rocketmq/test/autoswitchrole/AutoSwitchRoleBase.java
  test/src/test/java/org/apache/rocketmq/test/autoswitchrole/AutoSwitchRoleIntegrationTest.java
Labels: soc, module/ha

#4214 [ISSUE #4327] Init collection size
  client/src/main/java/org/apache/rocketmq/client/consumer/DefaultMQPushConsumer.java
  client/src/main/java/org/apache/rocketmq/client/consumer/store/LocalFileOffsetStore.java
  client/src/main/java/org/apache/rocketmq/client/consumer/store/RemoteBrokerOffsetStore.java
  client/src/main/java/org/apache/rocketmq/client/impl/MQClientAPIImpl.java
  client/src/main/java/org/apache/rocketmq/client/impl/consumer/DefaultMQPushConsumerImpl.java
  client/src/main/java/org/apache/rocketmq/client/impl/consumer/RebalanceImpl.java
  client/src/main/java/org/apache/rocketmq/client/impl/factory/MQClientInstance.java
  client/src/main/java/org/apache/rocketmq/client/trace/AsyncTraceDispatcher.java
Labels: module/client

#4173 [ISSUE #4171]Fix tryQueryAssignment() in RebalanceImpl
  client/src/main/java/org/apache/rocketmq/client/impl/consumer/RebalanceImpl.java
Labels: module/client
